#ContactInfo {
	display: flex;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: bold;
	margin-bottom: 2%;
	height: 10%;
}

#contactInfoTitle {
	font-size: 1.8em;
}

.contactInfoOptions {
	margin-left: 1%;
	padding: 1%;
	font-size: 1em;
	max-width: 30%;
	cursor: pointer;
}

.contactInfoOptions:hover {
	margin-left: 3%;
	border-radius: 1em;
	padding: 1%;
	max-width: 30%;
	font-size: 1em;
	cursor: pointer;
	background-color: white;
	color: #8c52ff;
}

.contactInfoOptionsSelected {
	margin-left: 3%;
	max-width: 30%;
	border-radius: 1em;
	padding: 1%;
	font-size: 1em;
	cursor: pointer;
	background-color: white;
	color: #8c52ff;
}

/*------------------------CEP-Input-------------------------------*/

.CepContainerRow {
	display: flex;
	height: 13%;
	flex-direction: row;
	margin-left: 10%;
	margin-right: 10%;
}

.CepInput {
	border-radius: 0.9em;
	border: none;
	margin-bottom: 1em;
	margin-right: 1em;
	flex: 1;
	padding-left: 1em;
}

/*--------Placeholder------*/
.CepInput::placeholder {
	opacity: 0.7;
}

/*------------------------Bairro-Input-------------------------------*/

#BairroInput {
	border-radius: 0.9em;
	border: none;
	margin-bottom: 1em;
	margin-right: 1em;
	width: 32%;
	padding-left: 1em;
	flex: 1;
}

/*--------Placeholder------*/
#BairroInput::placeholder {
	opacity: 0.7;
}

/*------------------------Description-Input-------------------------------*/

#DescriptionRow {
	margin-left: 10%;
	margin-right: 11%;
	display: flex;
	flex: 1;
}
#DiscriptionInput {
	max-height: 75%;
	width: 100%;
	height: 90%;
	border-radius: 0.9em;
	border: none;
	padding: 1em;
	font-family: "Roboto";
	font-size: 0.9em;
}
/*--------Placeholder------*/
#DiscriptionInput::placeholder {
	opacity: 0.7;
}
/*------------------------Price-Input-------------------------------*/

#PriceRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 6%;
}
#PriceRow p {
	color: white;
	font-weight: bold;
	margin-bottom: auto;
	margin-top: auto;
	font-size: 1.2em;
	margin-right: 1%;
}
#PriceInput {
	height: 2em;
	border-radius: 0.9em;
	border: none;
	margin-right: 1em;
	padding-left: 1em;
}
#PriceInput::placeholder {
	opacity: 0.7;
}
