@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#html_font{
    font-size: 14px;
}

.publishAnnounceContent{

    display: flex;
    flex-direction: row;
    margin-right:4%;
    
}

.navBar{
    
    margin-top:10em;
    display:block;
    float: left;

}

.rightElements{

    margin-right: 5%;


}


.top-elements{
    
    color: #8C52FF;
    font-size:  1.5em;
    text-align: right;
    margin-top: 2em;
    float: right;
    height: 2em;
}


.top-elements button{
    font-weight: bold;
    color: #8C52FF;
    font-size: .8em;
    background-color: #F8F5FF;
    border-radius: 0.8em;
    border: none;
    margin-bottom: 2em;
    width: 6em;
    height: 1.8em;
    margin-left: 0.5em;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
    

.top-elements button:hover {
    
    background-color: #8C52FF;
    color: white;
    transition-duration: 0.4s;
    
}

.botoes:focus {
    background-color: #F8F5FF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #8C52FF;
}


.quadroInformacoes{
    font-size: 0.8em;
    float:right;
}

.quadroInformacoes input,textarea{
    
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
    background-color: #F8F5FF;

}

#details{
    
    font-weight: normal;
    height: 3.5em;
    border:none;
    border-radius: 2em;
    text-indent: 1em;
    font-size: 1.5em;
    margin-top: 4%;
    word-break: break-word;
    

}

.titulo{

    width: 75%;

}

.categoria{

    width: 20%;
    float:right;

}

.autor{

    width: 30%;

}

.editora{

    width: 28%;
    margin-left: 4%;

}

.ano{

    width: 15%;
    margin-left: 4%;

}

.paginas{

    width: 15%;
    margin-left: 4%;

}

.descricao{
        
    font-weight: normal;
    border-radius: 1em;
    border: none;
    border-width: 0.01em;
    border-color: #AAA3A3;
    padding: 1.5em;
    padding-top: 1em;
    font-size: 1.5em;
    margin-top: 4%;
    word-break: break-word;
    width: 100%;
    height: 10em;
    font-size:1.7em;
    resize: none;
    
    
}

.cep{

    margin-bottom: 1em;
    
}

.preco{

    width: 30%;
    margin-right: 3em;
    margin-left: 3%;
    
}

::placeholder{

    color: #8C52FF;
    opacity: 0.4;
    font-weight: bold;

}

.enviarFoto{
    float: right;
    width: 30em;
    height: 20em;
    background-image: url(/src/assets/uploadImagem.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: white;
    background-size: 20em;
    border-radius: 3em;
    border:  none;
    margin-top: 4em;
    margin-left: 5%;
    margin-bottom: 2em;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
    color: #8C52FF;
    background-color: #F8F5FF;
    
}

.enviarFotoTroca{
    width: 30em;
    height: 20em;
    background-image: url(/src/assets/uploadImagem.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: white;
    background-size: 20em;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.01em;
    border-color: #AAA3A3;
    display: flex;
    margin-left: 25em;
    margin-top: 4em;
    margin-bottom: 2em;
    color: #8C52FF;

}

.fotoMaos{
    background-image: url(/src/assets/maosdadas.png);
    background-repeat: no-repeat;
    background-size: 16em;
    background-position-x: 3em;
    width: 25em;
    height: 18em;

}

.ultimaLinhaEsquerda{
    margin-top: 3em;
    margin-left: 4em;

}

.inputButton{
    
    width: 100%;
    height: 100%;
    margin:0em;
    opacity: 0%;
}

.ultimaLinha{
    display: flex;
}