#chatBody {
  width: 100vw;
  height: 100vh;
}


#chatContainer{
	display: flex;
    flex-direction: row;
    margin:5em;
    margin-left: 0px;
}

#messageContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 55vw;
  height: 70vh;
  background: #ebe2ff;
  border-radius: 0.5em;
  padding: 1em 1em;
  align-content: center;
  margin-left: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#chatHeader {
  display: flex;
}

#chat_title {
  color: #8c52ff;
  font-weight: bold;
  padding-inline: 34%;
  
}
#chat_icon_pearson  {
	color: #5935a0;
  }
  
  #chat_icon_arrow {
	color: #5935a0;
  }
  

#listChat {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
 
}

#listChat::-webkit-scrollbar {
	width:1em;
	height: 1em;
	background:#ebe2ff;
	}

#list-item {
  list-style: none;
  text-align: right;
}

#messageChat {
  border: none;
  border-radius: 0.1em;
  display: inline-block;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: #5935a0;
  border-radius: 0.5em;
  color: beige;
  
}

#chatForm {
  background: rgba(248, 245, 255, 1);
  align-self: center;
  width: 80%;
  height: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.5em;
}

#form-field {
  background: rgba(248, 245, 255, 1);
  border-radius: 0.2em;
  border: none;
  font-size: 1em;
  width: 90%;
  height: 80%;
  padding: 0.5em 0.5em;
  color: black;
}

