#chatBody {
  width: 100vw;
  height: 100vh;
}

#chatContainer {
  display: flex;
  flex-direction: row;
  margin:2%;
  margin-left: 0px;
}

#chatListContainer{
  width: 73vw;
  align-items: center;
}

#messageContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 70vh;
  background: #ebe2ff;
  border-radius: 0.5em;
  padding: 1em 1em;
  align-content: center;
  margin-left: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#chatHeader {
  display: flex;
  width:100%;
  align-items: center;
  text-align: center;
}

#chat_title {
  color: #8c52ff;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
#chat_icon_pearson {
  border-radius: 5em;
  width: 3em;
  height: 3em;
  margin: 0.3em;
  margin-right: 0px;
  margin-left: 0px;
}

#chat_icon_arrow {
  color: #5935a0;
  cursor: pointer;
}

#listChat {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

#listChat::-webkit-scrollbar {
  width: 1em;
  height: 1em;
  background: #ebe2ff;
}

#list-item {
  list-style: none;
  display: flex;
  flex-direction: column;

}

.messageChat-user1{
  border: none;
  border-radius: 0.1em;
  display: block;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: #5935a0;
  border-radius: 0.5em;
  color: beige;
  float: right;
  max-width: 70%;
  margin-right: 0px;
  margin-left: auto;
}
.messageChat-user2{
  border: none;
  border-radius: 0.1em;
  display: block;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.5em;
  color:#5935a0;
  text-align: left;
  max-width: 70%;
  margin-left: 0px;
  margin-right: auto;
  
}



#chatForm {
  background: rgba(248, 245, 255, 1);
  align-self: center;
  width: 100%;
  height: 6em%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.5em;
  display: flex;
}

#form-field {
  background: rgba(248, 245, 255, 1);
  border-radius: 0.2em;
  border: none;
  font-size: 1em;
  width: 93%;
  height: 5em;
  padding: 1em 1em;
  color: black;
}

#submitContainer{
  display: flex;
  padding-inline: 8em;
}

#send_button{
  border: none;
  width:0%;
  align-self: center;
  align-items: center;

}


#chat_send_message{
  color: white;
  background: #5935a0;
  width: 4em;
  height: 4em;
  margin:1em;
  border-radius: 2em;
  padding: 1em 1.2em;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

#chat_send_message:hover{
  color: #5935a0;
  background-color:white ;
}

#chat_send_message_notification{
  color: #5935a0;
  background-color:white ;
  width: 4em;
  height: 4em;
  margin:1em;
  border-radius: 2em;
  padding: 1em 1.2em;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

#chat_send_message_notification:hover{
  color: white;
  background: #5935a0;
}

@media only screen and (max-width: 1060px) {
  #chatNavBar{
    display: none;
  }
  #messageContainer{
    height: 50vh;
    margin-left: 25%;
}
}