.myAnnouncementsContent {
	display: flex;
	flex-direction: row;
	margin: 2%;
	margin-left: 0px;
}

.myAnnouncementsDiv {
	width: 75vw;
	align-items: center;
}

.announceItem {
	height: 12em;
	margin: 1em;
	display: flex;
}
.announcesTitle .material-icons:first-child {
	color: #8c52ff;
	cursor: pointer;
	margin-left: 2em;
}
.announcesTitle .material-icons {
	color: #8c52ff;
	cursor: pointer;
	margin-left: 0.2em;
}

.announceImage {
	margin-top: 1em;
	margin-left: 1em;
	height: 10em;
}

.announceImage:hover {
	opacity: 0.5;
	cursor: pointer;
}
.announcesText {
	color: #8c52ff;
	font-size: 1em;
	padding: 1.4em;
	display: block;
}

.announcesTitle {
	font-weight: bold;
	display: block;
	font-size: 2em;
	cursor: pointer;
}

.announcesTitle:hover {
	color: rgba(140, 82, 255, 0.733);
}

.announcesDescription {
	display: block;
	font-size: 1.2em;
}

#createAnnounceButton {
	position: fixed;
	top: 85vh;
	left: 90vw;
	font-size: 4em;
	color: white;
	background-color: #8c52ff;
	border: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 5em;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0em 0.05em 0.05em 0em rgb(58, 58, 58);
}

#createAnnounceButton:hover {
	background-color: rgba(140, 82, 255, 0.733);
}

.list-expand {
	width: 30vw;
	font-size: 5em;
	margin-top: 0.5em;
	font-weight: bolder;
	vertical-align: top;
	background: none;
	border: none;
	font-family: Roboto;
	color: #8c52ff;
	cursor: pointer;
	border-radius: 0.4em;
	margin-left: 42vw;
}

.list-expand:hover {
	background-color: #8c52ff;
	color: #ffffff;
}
